<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Playa City Card</mat-card-title>
    <mat-card-subtitle>Book it, Live it and Enjoy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://playacitycard.mx/storage/index/vWY6Uyu6rJNMl8BAflzc8T17zx6w1rbjhbcZxa4w.jpeg"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p align="justify">
      We are the new way to rent yachts and catamarans in the Mexican Caribbean.
      Secure transactions, the best price and service. PlayaCityCard is a discount card in a wide variety
      of restaurants
      in Playa del Carmen that includes discounts on tours and catamarans in different modalities.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>