<mat-toolbar color="primary" class="mat-elevation-z4">
    <span> Bienvenido </span>
    
    <div class="spacer">  </div>
    
    <a mat-button routerLink="home" routerLinkActive="active-link" class="nav-link">Home</a>
    <a mat-button routerLink="cards" routerLinkActive="active-link" class="nav-link">Cards</a>
    <a mat-button routerLink="card1" routerLinkActive="active-link" class="nav-link">Card1</a>
    <a mat-button routerLink="card2" routerLinkActive="active-link" class="nav-link">Card2</a>
    <a mat-button routerLink="card3" routerLinkActive="active-link" class="nav-link">Card3</a>
    <a mat-button routerLink="list-product" routerLinkActive="active-link" class="nav-link">Products</a>
   <!--<a routerLink="home" routerLinkActive="active-link" class="nav-link">Home</a>
    <a routerLink="card1" routerLinkActive="active-link" class="nav-link">Card1</a>
    <a routerLink="card2" routerLinkActive="active-link" class="nav-link">Card2</a>
    <a routerLink="card3" routerLinkActive="active-link" class="nav-link">Card3</a> -->
</mat-toolbar>
